.btn {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  @media (min-width: 700px) {
    padding: 0.8rem 3rem;
  }

  &.primary {
    background-color: $main-color;
    color: $fourth-color;
  }
  &.secondary {
  }

  .spinner-border {
    font-size: 0.5em;
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align: text-bottom;
    border: 0.25em solid;
    border-right: 0.25em solid transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
  }
}

@keyframes spinner-border {
  100% {
    transform: rotate(1turn);
  }
}
