.home-container {
  background-color: white;
}
.centered-box-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  
}

.servicesLvl{
  margin-bottom: 20px;
}

.servicesLv2{
  margin-bottom: 20px;
  margin-top: 20px;;
}

.typeFault{
  width: 100%;
}

.bottomBox{
  display: flex;
}

.boxOne{
  display: flex;
  flex: 1;
  justify-content: center;
}

.plazos{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 10px
}

.boxTwo{
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 5px
}

.renovacion{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.datePicker{
  width: 100%;
  margin: 5px
}

.spaceButtonUser {
  margin-top: 12%;
  margin-bottom: 12%;
}
.buttonUsers {
  line-height: 3em;
  border-radius: 10px;
}

.containerFaults{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.hechoDiv{
  display: flex;
  flex: 1;
  margin-left: 5px;
}

.tipoDiv{
  display: flex;
  flex: .6;
  margin-left: 5px;
}

.fileServi{
  margin-bottom: 30px;
    margin-left: 10px;
  
}

.fileDiv{
  display: flex;
  flex: .3;
  margin-left: 5px;
}

.montoDiv{
  display: flex;
  flex: .5;
}

.fileButton{
  height: 55px;
}

// .text-hidden{
//   display: none;
// }
.reg-select{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.select-sino{
  margin: 0;
}
.makeStyles-formControl-5 {
    margin: 0;
    margin-right: 8px;
    min-width: 100px;
}
.ctn-button{
  display: flex;
}


.footer{
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pFooter{
 color: white;
 margin-left:20px
}
.mainFooter{
  background-color: #002F87;
  display: flex;
  flex: 1;
}

.otherLine{
  background-color:#ff7700;
  ;
  display: flex;
  height: 15px;
}