.home-container {
  background-color: white;
}
.centered-box-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.servicesLvl{
  margin-top: 20px;
  margin-bottom: 20px;
}

.typeFault{
  width: 100%;
}

.bottomBox{
  display: flex;
}

.boxOne{
  display: flex;
  flex: 1;
  justify-content: center;
}

.plazos{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 10px
}

.boxTwo{
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 5px
}

.renovacion{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.datePicker{
  width: 100%;
  margin: 5px
}

.spaceButtonUser {
  margin-top: 12%;
  margin-bottom: 12%;
}
.buttonUsers {
  line-height: 3em;
  border-radius: 10px;
}
.reg-select{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.select-sino{
  margin: 0;
}
.makeStyles-formControl-5 {
    margin: 0;
    margin-right: 8px;
    min-width: 100px;
}
.ctn-button{
  display: flex;
}
